
.demonstration {

	// .demonstration__container

	&__container {
	}

	// .demonstration__block

	&__block {
		@include adaptiveValue("padding-top", 100, 50);
		display: flex;
		justify-content: space-between;
		gap: rem(10);
		@media (max-width: em(1200)){
			  gap: 30px;
				align-items: center;
		}
		@media (max-width:$mobile){
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
.demonstration-color {
	background-color: $white;
}
.demonstration-block {

	// .demonstration-block__items

	&__items {
	}

	// .demonstration-block__text

	&__text {
		opacity: 0;
		transition: all 0.8s ease 0s;
		&._active { 
			transition: all 0.8s ease 0.4s;
			opacity: 1;
		}
		max-width: 600px;
		color: $blue;
		@include adaptiveValue("font-size", 25, 16);
		font-weight: 700;
		line-height: normal;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
		@media (max-width: em(1200)){
			max-width: 340px;
		}
	}

	// .demonstration-block__item

	&__item {
	}

	// .demonstration-block__images

	&__images {
		opacity: 0;
		transition: all 0.8s ease 0s;
		&._active { 
			transition: all 0.8s ease 0.4s;
			opacity: 1;
		}
		&:not(:last-child) {
			margin-bottom: rem(80);
		}
	}

	&__images img {
		@media (max-width: em(1200)){
			  max-width: 100%;
				height: auto;
		}
	}

	// .demonstration-block__contact

	&__contact {
		&:not(:last-child) {
			margin-bottom: rem(55);
		}
	}
}

.contact-demonstration {

	// .contact-demonstration__title

	&__title {
		opacity: 0;
		transition: all 0.8s ease 0.4s;
		&._active { 
			opacity: 1;
		}
		text-align: center;
		color: $blue;
		@include adaptiveValue("font-size", 25, 20);
		font-weight: 700;
		line-height: normal;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	// .contact-demonstration__office

	&__office {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	// .contact-demonstration__social

	&__social {
		opacity: 0;
		transition: all 0.8s ease 1s;
		&._active { 
			opacity: 1;
		}
		text-align: center;
		@media (max-width:$mobile){
			margin-bottom: rem(50);
		}
	}
}
.office-demonstration {

	// .office-demonstration__icon

	&__icon {
		&:not(:last-child) {
			margin-right: rem(30);
		}
	}

	// .office-demonstration__text

	&__text {
		opacity: 0;
		transition: all 0.8s ease 1.5s;
		&._active { 
			opacity: 1;
		}
		@include adaptiveValue("font-size", 16, 14);
		font-weight: 400;
		line-height: normal;
		color: $grey;
	}

	// .office-demonstration__phone

	&__phone {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	// .office-demonstration__phone-help

	&__phone-help {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}
}

.icon-one {
	opacity: 0;
	transition: all 0.8s ease 0.6s;
	&._active { 
		opacity: 1;
	}
}

.icon-two {
	opacity: 0;
	transition: all 0.8s ease 0.8s;
	&._active { 
		opacity: 1;
	}
}

.icon-three {
	opacity: 0;
	transition: all 0.8s ease 1s;
	&._active { 
		opacity: 1;
	}
}
//====================================================================================================
.footer {

	// .footer__container

	&__container {
	}

	// .footer__block

	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:last-child) {
			padding-top: rem(35);
			@include adaptiveValue("margin-bottom", 150, 40);
		}
		@media (max-width:$mobile){
			align-items: normal; 
		}
	}

	// .footer__phone

	&__phone {
		opacity: 0;
		transition: all 0.8s ease 0s;
		&._active { 
			transition: all 0.8s ease 0.4s;
			opacity: 1;
		}
		display: flex;
		flex-direction: column;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		color: $white;
	}

	// .footer__content

	&__content {
	}
}
.footer-bg {
	background-color: $blue;
}
.footer-menu {
	opacity: 0;
	transition: all 0.8s ease 0s;
	&._active { 
		transition: all 0.8s ease 0.4s;
		opacity: 1;
	}

	// .footer-menu__body

	&__body {

	}

	// .footer-menu__list

	&__list {
		display: flex;
		@include adaptiveValue("gap", 30, 5);
		@media (max-width: em(878)){
			display: flex;
			flex-wrap: wrap;
		}
		@media (max-width:$mobile){
			display: flex;
			flex-direction: column;
		}
	}

	// .footer-menu__item

	&__item {
		
	}

	// .footer-menu__link

	&__link {
		@include adaptiveValue("font-size", 16, 14);
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		color: $white;
	}
}
.content-footer {

	// .content-footer__text

	&__text {
		opacity: 0;
		transition: all 0.8s ease 0s;
		&._active { 
			transition: all 0.8s ease 0.6s;
			opacity: 1;
		}
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		color: $white;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
		p {
			&:not(:last-child) {
				margin-bottom: rem(10);
				@media (max-width:$mobile){
					margin-bottom: rem(40);
				}
			}
		}
	}

	// .content-footer__certificate

	&__certificate {
		opacity: 0;
		transition: all 0.8s ease 0s;
		&._active { 
			transition: all 0.8s ease 0.8s;
			opacity: 1;
		}
		ul {
			color: $white;
			display: flex;
			justify-content: space-between;
			@include adaptiveValue("font-size", 16, 14);
			font-weight: 400;
			line-height: normal;
			text-decoration-line: underline;
			@media (max-width: em(1020)){
				flex-direction: column;
				padding-bottom: rem(20);
			}
		}
		li {
			&:not(:last-child) {
				padding-bottom: rem(40);
			}
		}
	}
}

//====================================================================================================
